<!DOCTYPE html>
<html>
<head>
	<title>Admin Panel</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/adminPanelStylings.css">
	<link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/gauge" rel="stylesheet" type="text/css"/>
</head>
<body>
	<h1>Administrator Panel</h1>
	<hr>
	<a id = "goBack" href="/edit">&lt;&lt;back to main page</a>
	<table id = "menu">
		<tr>
			<td><a href = "http://www.google.com"><div class = "tile"><h1>User File Permissions</h1></div></a></td>
			<td><a href = "http://www.google.com"><div class = "tile"><h1>User Accounts</h1></div></a></td>
			<td><a href = "http://www.google.com"><div class = "tile"><h1>Chat Settings</h1></div></a></td>
		</tr>
		<tr>
			<td><a href = "http://www.google.com"><div class = "tile"><h1>Server Settings</h1></div></a></td>
			<td><a href = "http://www.google.com"><div class = "tile"><h1>Appearance and Theme</h1></div></a></td>
			<td><a href = "http://www.google.com"><div class = "tile"><h1>?</h1></div></a></td>
		</tr>
	</table>
</body>
</html>