<!DOCTYPE html>
<html>
<head>
	<title>Create New File</title>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<form>
	<input type="text" id = "fileName" placeholder = "filename"><br>
	File Type:
	<select id = "fileType">
		<option>.html</option>
		<option>.css</option>
		<option>.js</option>
	</select><br>
	<input type="button" value="Create File!" id="fileCreateButton">
</form>

<script>
	var createFile = document.getElementById("fileCreateButton");
	var fName = document.getElementById("fileName");
	var socket = io.connect(location.hostname);
	createFile.onclick = function(){
		if(fName.value != ""){
			var fullName = fName.value + document.getElementById("fileType").value;
			socket.emit('createFile', {message: fullName});
		}else{
			alert("Please enter a file name!");
		}	
	}
</script>

</body>
</html>