<html>

<head>
<title><%= title %></title>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="jqueryFileTree/jqueryFileTree.js"></script>
<link rel="stylesheet" href="stylesheets/filetest.css">
<link rel="stylesheet" type="text/css" href="stylesheets/codemirror.css">
<link rel="stylesheet" type="text/css" href="jqueryFileTree/jqueryFileTree.css">
<script src="js/codemirror.js"></script>
<script src="js/xml.js"></script>
<script src="js/active-line.js"></script>

<link rel="stylesheet" type="text/css" href="stylesheets/emojify.css">
<script src="emojify.js"></script>

</head>

<body>

<center><h1>Welcome to SynergyCode!</h1></center>
<a href="/logout">Logout</a>
<h2 id = "fileMenuTitle">File Menu</h2>
<div id = "filetree">
    
</div>

<a href = "/create">Create File</a>

<table id = "mainTable">
        <tr id = "headerow">
                <td><h3>Code Editor</h3></td>
                <td><h3>Live Preview</h3></td>
        </tr>
        <tr>
                <td><textarea id = "editor" rows = "20"></textarea></td>
                <td><iframe name = "preview"></iframe></td>
        </tr>
</table>

<div id ="chatPulloutBar">
    <img src="images/leftArrow.png">
</div>

<div id = "chatContainer">
<div id="chat">
    <div id="content"></div>
    <div class="controls">
        <input type="text" id="name" placeHolder="Name"><br>
        <input type="text" id="field">
        <input type="button" value="send" id="send">
    </div>
</div>
</div>

<script src="js/mainCode.js"></script>
<script type = "text/javascript" src = "chat.js"></script>
<script>
</script>

</body>

</html>
