<html>

<head>
<title><%= title %></title>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<style>
table#selectMenu{
        border: 1px solid black;
        font-size: 18px;
        text-align: center;
}
h2{
        text-decoration: underline;
        padding-left: 20px;
        padding-right: 20px;
}
.selector:hover{
        border: 1px solid red;
}

#mainTable{
        width: 100%;
        height: 100%;
        padding-top: 20px;
}

#mainTable td{
        width: 50%;
        height: 100%;
        padding-top:0px;
        padding-bottom:0px;
        padding-right: 10px;
        text-align: center;
        font-weight: bold;
}
#editor{
        width: 100%;
        height:100%;
        resize: vertical;
}
[name = preview]{
        width: 100%;
        height:100%;
        min-width: 100%;
        border: 1px solid black;
}

body{
        font-family: Symbol;
}

h1{
        border-bottom: 1px solid gray;
        font-size: 200%;
}
</style>

</head>

<body>

<h1>Welcome to FC Protocol!</h1>
<a href = "create.html" onClick = "reRoute()">Create File</a>
<br/>

<table id = "selectMenu">
<tr>
        <td><h2>Files</h2></td>
</tr>
<tr>
        <td class = "selector" onClick = "fileLoader('testFile1.html')">File1</td>
</tr>
<tr>
        <td class = "selector" onClick = "fileLoader('testFile2.html')">File2</td>
</tr>
</table>

<table id = "mainTable">
        <tr>
                <td>Code</td>
                <td>Live Preview</td>
        </tr>
        <tr>
                <td><textarea id = "editor" rows = "20"></textarea></td>
                <td><iframe name = "preview"></iframe></td>
        </tr>
</table>

<script>
        
        var socket = io.connect('http://localhost');
        var loadedFileName;
        
        window.onload = function() {
                socket.on('message', function (data) {
                        alert('Code Box is ready to go!');
        });
        }
        function reRoute(){
                alert('rerouting');
        }
        
        function fileLoader(fileName){
                loadedFileName = fileName;
                socket.emit('fileLoad', {message: fileName});
        }
        
        function preview(file){
                var html = $.parseHTML(file, document, true);
                $('[name="preview"]').contents().find("html").html(html);
        }
        
        socket.on('fileData', function(data){
                document.getElementById('editor').value = data.message;
                preview(data.message);
        });
        
        $('#editor').bind('input propertychange', function(){
                var fileData = $('#editor').val();
                preview(fileData);
                socket.emit('fileChanged', {message: fileData});
        });
        
</script>

</body>

</html>