<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- <link rel="stylesheet" href="stylesheets/reset.css"> -->
	<link rel="stylesheet" href="stylesheets/styles.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<!--<script src="chat.js"></script>-->
  </head>
  <body>
    <!-- <div id="container">
    	<div id="chat">
    	<div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;"></div>
		<div class="controls">
			<input type="text" style='width:350px;' id="name" placeHolder="Name"><br>
			<input type="text" style="width:350px;" id="field">
			<input type="button" value="send" id="send">
		</div>
		</div>
	</div> -->
	<h1 id = "mainHeader">Welcome to Synergy Code!</h1>
	<div id = "login">
	<h3>Please log in below</h3>
		<form>
			<input type = "text" id = "user" placeHolder = "Username">
			<br/>
			<input type = "password" id = "pass" placeHolder = "Password">
			<br/>
			<input type = "submit" value = "submit" id = "sub">
		</form>
		<h3>Don't have an account? Create one <a href="createUser.html">here</a></h3>
	</div>
	<script type="text/javascript" src = "js/login.js"></script>
  </body>
</html>