<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/reset.css">
	<link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <div id="container">
		<div id="login">
			<div id="form">
				<form>
					<input type="text" name="username" placeholder="Username"><br>
					<input type="password" name="password" placeholder="Password"><br>
				</form>
			</div>

		</div>
	</div>
  </body>
</html>