<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="icon" href="http://www.synergycode.org/favicon.ico">
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/gauge" rel="stylesheet" type="text/css"/>
    <style>
    	body{
    		font-family: 'Gauge';
    	}
    </style>
    <!-- <link rel="stylesheet" href="stylesheets/reset.css"> -->
	<link rel="stylesheet" href="stylesheets/styles.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<!--<script src="chat.js"></script>-->
  </head>
  <body>
    <!-- <div id="container">
    	<div id="chat">
    	<div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;"></div>
		<div class="controls">
			<input type="text" style='width:350px;' id="name" placeHolder="Name"><br>
			<input type="text" style="width:350px;" id="field">
			<input type="button" value="send" id="send">
		</div>
		</div>
	</div> -->
	<h1 id="mainHeader">Welcome to Synergy Code!</h1>
	<div id="login">
	<h3>Please log in below</h3>
		<form action ="/login" method="post">
			<input type="text" name="username" placeHolder="Username" value="admin">
			<br/>
			<input type="password" name="password" placeHolder="Password" value="admin">
			<br/>
			<input type="submit" value="Log In!">
		</form>
	</div>
  </body>
</html>
