#chatPulloutBar{
    position: fixed;
    top: 97%;
    left: 82%;
    width: 15.1%;
    height: 3%;
    background-color: #4F4F4F;
    z-index: 3;
    border: 2px solid black;
}

#chatPulloutBar img{
    position: absolute;
    top: -2px;
    left: 44%;
    width: 15%;
}

#chatPulloutBar:hover{
    background-color: gray;
    transition: background-color 400ms;
    -webkit-transition: background-color 400ms;
}

#chatContainer{
    position: fixed;
    margin-top: 65px;
    left: 82%;
    top: 90%;
    height: 25%;
    width: 15%;
    border: 2px solid black;
    background-color: #D6D6C2;
    z-index: 3;
}

.controls{  
    position: relative;
    left: -2px;
    height: 40%;
    width: 101%;
    background-color: #4F4F4F;
    border: 2px solid black;
}

#send{
    display: none;
}

#name{
    margin-top: 5px;
    margin-left: 9%;
}

#field{
    margin-top: 5px;
    margin-left: 9%;
}

#content{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#field{
    width: 80%;
}

#logout{
    position: relative;
    top: -50px;
    left: 93%;
}

#previewToggle{
    position: absolute; 
    top: 68px;
    left: 92.1%;
    z-index: 3;
}


#name{
    width: 80%;
}


#fileMenuTitle {

    position: relative;
    top: -25px;
    left: 40px;
    font-weight: normal;
    font-size: 18px;

}

#filetree{
    position: relative;
    top: -38px;
}

.selector:hover {

    border: 1px solid red;

}

#mainTable {

    position: absolute;

    top: 60px;

    left: 14.5%;

    width: 85%;

    height: 90%;

}

#mainTable #headerow{
    height: 35px;
    text-align: center;
    font-size: 18px;
}


#mainTable td {

    width: 50%;

}

[name=preview] {

    width: 100%;

    height:100%;


    border: 1px solid black;

}

h1 {

    border-bottom: 1px solid gray;

    font-size: 200%;

}

body{
    font-family: 'Gauge'; 
}