#draggable {
    position: absolute;
    top: 52%;
    left: 85%;
    display: none;
    width: 200px; 
    height: 300px; 
    z-index: 5; 
}

#chatContainer{
    position: relative;
    left: -3px;
    width: 100%;
    height: 234px;
    border: 2px solid black;
    background-color: #D6D6C2;
    z-index: 3;
}

.controls{  
    position: relative;
    left: -2px;
    width: 100%;
    height: 60px;
    background-color: #4F4F4F;
    border: 2px solid black;
}

#send{
    display: none;
}

#content{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#field{
    width: 95%;
    margin-left: 3px;
}

#name{
    width: 95%;
    margin-top: 3px;
    margin-left: 3px;
}

#logout{
    position: relative;
    top: -50px;
    left: 93%;
}

#previewToggle{
    position: absolute; 
    top: 68px;
    left: 92.1%;
    z-index: 3;
}

#fileMenuTitle {

    position: relative;
    top: -25px;
    left: 40px;
    font-weight: normal;
    font-size: 18px;

}

#filetree{
    position: relative;
    top: -38px;
}

.selector:hover {

    border: 1px solid red;

}

#mainTable {

    position: absolute;

    top: 60px;

    left: 14.5%;

    width: 85%;

    height: 90%;

    table-layout: fixed;

}

#mainTable #headerow{
    height: 35px;
    text-align: center;
    font-size: 18px;
}


#mainTable td {

    width: 50%;

}

[name=preview] {

    width: 100%;

    height:100%;


    border: 1px solid black;

}

h1 {

    border-bottom: 1px solid gray;

    font-size: 200%;

}

body{
    font-family: 'Gauge'; 
}